@font-face{
  font-family:'proxima-nova';
  src: url('../fonts/proxima_nova/ProximaNova-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family:'proxima-nova-bold';
  src: url('../fonts/proxima_nova/ProximaNova-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face{
  font-family:'proxima-nova-light';
  src: url('../fonts/proxima_nova/ProximaNova-Light.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}

@font-face{
  font-family:'proxima-nova-lightit';
  src: url('../fonts/proxima_nova/ProximaNova-Lightit.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family:'proxima-novacond-light';
  src: url('../fonts/proxima_nova/ProximaNovaCond-Light.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'proxima-nova', sans-serif;
}

footer {
  font-size: 12px;
}

footer a {
  color: #00af88;
  text-decoration: none;
}

.sub-nav a:hover {
  font-family: 'proxima-nova-bold', sans-serif;
}

.subnav a {
  color: #fff;
  text-decoration: none;
  font-size: 13px;
  letter-spacing: 1px;
}

h1 {
  color: #111;
  font-family: 'proxima-nova-light', sans-serif;
}

h2 {
  color: #999;
  font-family: 'proxima-nova', sans-serif;
  font-size: 13px;
}
